<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Влияние интернета на распространение эзотерических знаний</title>
</head>

<body class="body">
    <header class="header">
        <section></section>
        <h1 class="header__name">Влияние интернета на распространение эзотерических знаний</h1>
        <form class="find" action="" method="get">
            <input type="search" class="find__input" name="find" placeholder="Что ищем?">
            <button type="submit" class="find__button">
                <img src="img/find.svg" alt="Поиск">
            </button>
        </form>
    </header>
    <nav class="menu">
        <a href="index.html" class="logo">
            <img src="img/logo.svg" alt="Логотип">
        </a>
        <a href="" class="menu__item-img">
            <img src="img/account.svg" alt="Личный кабинет">
        </a>
        <section class="items">
            <a id="menu-1" class="menu__item" href="esoterics_history.html">
                История эзотерики
            </a>
            <a id="menu-2" class="menu__item" href="esoteric_teachings.html">
                Эзотерические учения
            </a>
            <a id="menu-3" class="menu__item" href="slavs_secret_knowledge.html">
                Тайные знания славян
            </a>
            <a id="menu-4" class="menu__item" href="practical_esoterics.html">
                Практическая эзотерика
            </a>
            <a id="menu-5" class="menu__item" href="blog.html">
                Блог
            </a>
            <a id="menu-6" class="menu__item" href="library.html">
                Библиотека
            </a>
        </section>
        <a id="course" class="menu__item-img" href="">
            Маятник<br>
            вам<br>
            в руки
        </a>
        <footer class="menu__footer">
            <a class="menu__item-img" href="">
                <img src="img/vk.svg" alt="ВК">
            </a>
            <a class="menu__item-img" href="">
                <img src="img/telegram.svg" alt="Telegram">
            </a>
            <a class="menu__item-img" href="">
                <img src="img/mail.svg" alt="">
            </a>
        </footer>
        <div class="submenu menu-1">
            <a href="esoterics_history-1.html" class="menu__item">
                Зарождение<br>эзотерических учений
            </a>
            <a href="esoterics_history-2.html" class="menu__item">
                Влияние античной<br>философии на эзотерику
            </a>
            <a href="esoterics_history-3.html" class="menu__item">
                Эзотерические учения<br>в средние века
            </a>
            <a href="esoterics_history-4.html" class="menu__item">
                Ренессанс и эзотерическое<br>мышление
            </a>
            <a href="esoterics_history-5.html" class="menu__item">
                Особенности эзотерических<br>течений в XIX веке
            </a>
            <a href="esoterics_history-6.html" class="menu__item">
                Вклад знаменитых мистиков<br>и оккультистов в эзотерику
            </a>
            <a href="esoterics_history-7.html" class="menu__item">
                Эзотерические движения<br>и школы XX века
            </a>
            <a href="esoterics_history-8.html" class="menu__item">
                Современные тенденции<br>в изучении и практике<br>эзотерики
            </a>
            <a href="esoterics_history-9.html" class="menu__item">
                Влияние интернета<br>на распространение<br>эзотерических знаний
            </a>
            <a href="esoterics_history-10.html" class="menu__item">
                Исследования<br>и перспективы развития<br>истории эзотерики
            </a>
        </div>
        <div class="submenu menu-2">
            <a href="esoteric_teachings-1.html" class="menu__item">
                Герметизм
            </a>
            <a href="esoteric_teachings-2.html" class="menu__item">
                Алхимия
            </a>
            <a href="esoteric_teachings-3.html" class="menu__item">
                Гностицизм
            </a>
            <a href="esoteric_teachings-4.html" class="menu__item">
                Каббала
            </a>
            <a href="esoteric_teachings-5.html" class="menu__item">
                Неоплатонизм
            </a>
            <a href="esoteric_teachings-6.html" class="menu__item">
                Таро
            </a>
            <a href="esoteric_teachings-7.html" class="menu__item">
                Астрология
            </a>
            <a href="esoteric_teachings-8.html" class="menu__item">
                Йога
            </a>
            <a href="esoteric_teachings-9.html" class="menu__item">
                Шаманизм
            </a>
            <a href="esoteric_teachings-10.html" class="menu__item">
                Оккультизм
            </a>
        </div>
        <div class="submenu menu-3">
            <a href="slavs_secret_knowledge-1.html" class="menu__item">
                Мифология<br>и сказания славян
            </a>
            <a href="slavs_secret_knowledge-2.html" class="menu__item">
                Ритуалы и обряды<br>в славянской культуре
            </a>
            <a href="slavs_secret_knowledge-3.html" class="menu__item">
                Славянская астрология<br>и космология
            </a>
            <a href="slavs_secret_knowledge-4.html" class="menu__item">
                Травы и лекарственные<br>растения в славянской<br>медицине
            </a>
            <a href="slavs_secret_knowledge-5.html" class="menu__item">
                Символика славянских<br>колдовских знаков<br>и амулетов
            </a>
            <a href="slavs_secret_knowledge-6.html" class="menu__item">
                Поверья<br>и предрассудки<br>в славянской культуре
            </a>
            <a href="slavs_secret_knowledge-7.html" class="menu__item">
                Медитации и практики<br>самопознания<br>в славянской традиции
            </a>
            <a href="slavs_secret_knowledge-8.html" class="menu__item">
                Обучение<br>и исследования<br>славянских тайн
            </a>
            <a href="slavs_secret_knowledge-9.html" class="menu__item">
                Славянская мифология<br>в современном<br>искусстве
            </a>
            <a href="slavs_secret_knowledge-10.html" class="menu__item">
                Тайные общества<br>и братства в славянской<br>культуре
            </a>
        </div>
        <div class="submenu menu-4">
            <a href="practical_esoterics-1.html" class="menu__item">
                Техники медитации<br>и визуализации
            </a>
            <a href="practical_esoterics-2.html" class="menu__item">
                Энергетические<br>практики и целительство
            </a>
            <a href="practical_esoterics-3.html" class="menu__item">
                Практики саморазвития<br>и внутренней<br>трансформации
            </a>
            <a href="practical_esoterics-4.html" class="menu__item">
                Работа с чакрами<br>и энергетическими<br>центрами
            </a>
            <a href="practical_esoterics-5.html" class="menu__item">
                Техники астральной<br>проекции и путешествия<br>в мире снов
            </a>
            <a href="practical_esoterics-6.html" class="menu__item">
                Рабочие инструменты<br>эзотерика
            </a>
            <a href="practical_esoterics-7.html" class="menu__item">
                Практики энергетической<br>защиты и очищения
            </a>
            <a href="practical_esoterics-8.html" class="menu__item">
                Техники гипноза<br>и транса
            </a>
            <a href="practical_esoterics-9.html" class="menu__item">
                Практические инструкции<br>по работе с символикой<br>и мифологией
            </a>
            <a href="practical_esoterics-10.html" class="menu__item">
                Исследование оккультных<br>наук и практик
            </a>
        </div>
        <div class="submenu menu-5">
            <a href="blog-1.html" class="menu__item">
                Статьи
            </a>
            <a href="blog-2.html" class="menu__item">
                Видео
            </a>
            <a href="blog-3.html" class="menu__item">
                Обучение
            </a>
        </div>
        <div class="submenu menu-6">
            <a href="library-1.html" class="menu__item">
                Книги
            </a>
            <a href="library-2.html" class="menu__item">
                Публикации
            </a>
            <a href="library-3.html" class="menu__item">
                Фильмы
            </a>
        </div>
    </nav>
    <img src="img/up.svg" alt="Кликни" class="up">
    <main class="main">
        <artticle class="card">
            <header>
                <h2>Онлайн-платформы для изучения эзотерических учений и практик</h2>
            </header>
            <p>
                Обзор возможностей онлайн-обучения в области эзотерики.
            </p>
            <footer><a href="">ЧИТАТЬ</a></footer>
        </artticle>
        <artticle class="card">
            <header>
                <h2>Эзотерические блоги и ресурсы в интернете: их роль в обмене опытом и знаниями</h2>
            </header>
            <p>
                Анализ влияния эзотерических блогов и ресурсов на обмен знаниями и опытом.
            </p>
            <footer><a href="">ЧИТАТЬ</a></footer>
        </artticle>
        <artticle class="card">
            <header>
                <h2>Влогеры и инфлюенсеры, специализирующиеся на эзотерике и духовном развитии</h2>
            </header>
            <p>
                Анализ роли влогеров и инфлюенсеров в распространении эзотерических знаний.
            </p>
            <footer><a href="">ЧИТАТЬ</a></footer>
        </artticle>
        <artticle class="card">
            <header>
                <h2>Сетевые сообщества и форумы для общения и обмена идеями эзотерического направления</h2>
            </header>
            <p>
                Изучение влияния сетевых сообществ на общение и обмен идеями в области эзотерики.
            </p>
            <footer><a href="">ЧИТАТЬ</a></footer>
        </artticle>
        <artticle class="card">
            <header>
                <h2>Влияние социальных сетей на популяризацию эзотерических тем и практик</h2>
            </header>
            <p>
                Анализ влияния социальных сетей на распространение эзотерических тем.
            </p>
            <footer><a href="">ЧИТАТЬ</a></footer>
        </artticle>
        <artticle class="card">
            <header>
                <h2>Онлайн-конференции и виртуальные мероприятия по темам эзотерики и духовного развития</h2>
            </header>
            <p>
                Обзор онлайн-мероприятий в эзотерической области.
            </p>
            <footer><a href="">ЧИТАТЬ</a></footer>
        </artticle>
        <artticle class="card">
            <header>
                <h2>Подкасты и цифровые ресурсы, посвященные эзотерическим знаниям и практикам</h2>
            </header>
            <p>
                Обзор цифровых ресурсов и подкастов по эзотерике.
            </p>
            <footer><a href="">ЧИТАТЬ</a></footer>
        </artticle>
        <artticle class="card">
            <header>
                <h2>Онлайн-магазины и платформы для приобретения эзотерической литературы и реквизита</h2>
            </header>
            <p>
                Анализ онлайн-магазинов, предлагающих эзотерическую литературу и реквизит.
            </p>
            <footer><a href="">ЧИТАТЬ</a></footer>
        </artticle>
        <artticle class="card">
            <header>
                <h2>Возможности онлайн-консультаций и дистанционного участия в духовных практиках</h2>
            </header>
            <p>
                Изучение возможностей онлайн-консультаций и участия в духовных практиках.
            </p>
            <footer><a href="">ЧИТАТЬ</a></footer>
        </artticle>
        <artticle class="card">
            <header>
                <h2>Потенциал интернета как средства распространения и доступности эзотерических знаний и практик</h2>
            </header>
            <p>
                Анализ потенциала интернета в распространении и доступности эзотерических знаний.
            </p>
            <footer><a href="">ЧИТАТЬ</a></footer>
        </artticle>

    </main>
    <footer class="footer">
        <section class="footer_inner">
            <p class="copyright">
                &copy 2024 Кубекина Е.<br>Все права защищены
            </p>
            <a href="" class="foooter__item_link">Политика конфиденциальности</a>
            <a href="" class="foooter__item_link">Контакты</a>
            <a href="" class="foooter__item_link">Личный кабинет</a>
        </section>
    </footer>
    <script src="script/main.js"></script>
</body>

</html>