<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style.css">
    <title>История эзотерики</title>
</head>

<body class="body">
    <header class="header">
        <section></section>
        <h1 class="header__name">ИСТОРИЯ ЭЗОТЕРИКИ</h1>
        <form class="find" action="" method="get">
            <input type="search" class="find__input" name="find" placeholder="Что ищем?">
            <button type="submit" class="find__button">
                <img src="img/find.svg" alt="Поиск">
            </button>
        </form>
    </header>
    <nav class="menu">
        <a href="index.html" class="logo">
            <img src="img/logo.svg" alt="Логотип">
        </a>
        <a href="" class="menu__item-img">
            <img src="img/account.svg" alt="Личный кабинет">
        </a>
        <section class="items">
            <a id="menu-1" class="menu__item" href="esoterics_history.html">
                История эзотерики
            </a>
            <a id="menu-2" class="menu__item" href="esoteric_teachings.html">
                Эзотерические учения
            </a>
            <a id="menu-3" class="menu__item" href="slavs_secret_knowledge.html">
                Тайные знания славян
            </a>
            <a id="menu-4" class="menu__item" href="practical_esoterics.html">
                Практическая эзотерика
            </a>
            <a id="menu-5" class="menu__item" href="blog.html">
                Блог
            </a>
            <a id="menu-6" class="menu__item" href="library.html">
                Библиотека
            </a>
        </section>
        <a id="course" class="menu__item-img" href="">
            Маятник<br>
            вам<br>
            в руки
        </a>
        <footer class="menu__footer">
            <a class="menu__item-img" href="">
                <img src="img/vk.svg" alt="ВК">
            </a>
            <a class="menu__item-img" href="">
                <img src="img/telegram.svg" alt="Telegram">
            </a>
            <a class="menu__item-img" href="">
                <img src="img/mail.svg" alt="">
            </a>
        </footer>
        <div class="submenu menu-1">
            <a href="esoterics_history-1.html" class="menu__item">
                Зарождение<br>эзотерических учений
            </a>
            <a href="esoterics_history-2.html" class="menu__item">
                Влияние античной<br>философии на эзотерику
            </a>
            <a href="esoterics_history-3.html" class="menu__item">
                Эзотерические учения<br>в средние века
            </a>
            <a href="esoterics_history-4.html" class="menu__item">
                Ренессанс и эзотерическое<br>мышление
            </a>
            <a href="esoterics_history-5.html" class="menu__item">
                Особенности эзотерических<br>течений в XIX веке
            </a>
            <a href="esoterics_history-6.html" class="menu__item">
                Вклад знаменитых мистиков<br>и оккультистов в эзотерику
            </a>
            <a href="esoterics_history-7.html" class="menu__item">
                Эзотерические движения<br>и школы XX века
            </a>
            <a href="esoterics_history-8.html" class="menu__item">
                Современные тенденции<br>в изучении и практике<br>эзотерики
            </a>
            <a href="esoterics_history-9.html" class="menu__item">
                Влияние интернета<br>на распространение<br>эзотерических знаний
            </a>
            <a href="esoterics_history-10.html" class="menu__item">
                Исследования<br>и перспективы развития<br>истории эзотерики
            </a>
        </div>
        <div class="submenu menu-2">
            <a href="" class="menu__item">
                Герметизм
            </a>
            <a href="" class="menu__item">
                Алхимия
            </a>
            <a href="" class="menu__item">
                Гностицизм
            </a>
            <a href="" class="menu__item">
                Каббала
            </a>
            <a href="" class="menu__item">
                Неоплатонизм
            </a>
            <a href="" class="menu__item">
                Таро
            </a>
            <a href="" class="menu__item">
                Астрология
            </a>
            <a href="" class="menu__item">
                Йога
            </a>
            <a href="" class="menu__item">
                Шаманизм
            </a>
            <a href="" class="menu__item">
                Оккультизм
            </a>
        </div>
        <div class="submenu menu-3">
            <a href="" class="menu__item">
                Мифология<br>и сказания славян
            </a>
            <a href="" class="menu__item">
                Ритуалы и обряды<br>в славянской культуре
            </a>
            <a href="" class="menu__item">
                Славянская астрология<br>и космология
            </a>
            <a href="" class="menu__item">
                Травы и лекарственные<br>растения в славянской<br>медицине
            </a>
            <a href="" class="menu__item">
                Символика славянских<br>колдовских знаков<br>и амулетов
            </a>
            <a href="" class="menu__item">
                Поверья<br>и предрассудки<br>в славянской культуре
            </a>
            <a href="" class="menu__item">
                Медитации и практики<br>самопознания<br>в славянской традиции
            </a>
            <a href="" class="menu__item">
                Обучение<br>и исследования<br>славянских тайн
            </a>
            <a href="" class="menu__item">
                Славянская мифология<br>в современном<br>искусстве
            </a>
            <a href="" class="menu__item">
                Тайные общества<br>и братства в славянской<br>культуре
            </a>
        </div>
        <div class="submenu menu-4">
            <a href="" class="menu__item">
                Техники медитации<br>и визуализации
            </a>
            <a href="" class="menu__item">
                Энергетические<br>практики и целительство
            </a>
            <a href="" class="menu__item">
                Практики саморазвития<br>и внутренней<br>трансформации
            </a>
            <a href="" class="menu__item">
                Работа с чакрами<br>и энергетическими<br>центрами
            </a>
            <a href="" class="menu__item">
                Техники астральной<br>проекции и путешествия<br>в мире снов
            </a>
            <a href="" class="menu__item">
                Рабочие инструменты<br>эзотерика
            </a>
            <a href="" class="menu__item">
                Практики энергетической<br>защиты и очищения
            </a>
            <a href="" class="menu__item">
                Техники гипноза<br>и транса
            </a>
            <a href="" class="menu__item">
                Практические инструкции<br>по работе с символикой<br>и мифологией
            </a>
            <a href="" class="menu__item">
                Исследование оккультных<br>наук и практик
            </a>
        </div>
        <div class="submenu menu-5">
            <a href="" class="menu__item">
                Статьи
            </a>
            <a href="" class="menu__item">
                Видео
            </a>
            <a href="" class="menu__item">
                Обучение
            </a>
        </div>
        <div class="submenu menu-6">
            <a href="" class="menu__item">
                Книги
            </a>
            <a href="" class="menu__item">
                Статьи
            </a>
            <a href="" class="menu__item">
                Видео
            </a>
        </div>
    </nav>
    <img src="img/up.svg" alt="Кликни" class="up">
    <main class="main">
        <artticle class="card">
            <header>
                <h2>Зарождение эзотерических учений</h2>
            </header>
            <p>
                В данной <span>рубрике</span> рассматривается происхождение
                и развитие первых эзотерических учений в различных
                культурах и религиях, их связь с древними обрядами,
                мифами и символами</p>
            <footer><a href="">ЧИТАТЬ СТАТЬИ</a></footer>
        </artticle>
        <artticle class="card">
            <header>
                <h2>Влияние античной философии на эзотерику</h2>
            </header>
            <p>
                В данной <span>рубрике</span> описывается влияние таких философских
                систем древней Греции и Рима, как неоплатонизм, пифагорейство и герметизм,
                на формирование эзотерических учений,
            </p>
            <footer><a href="">ЧИТАТЬ СТАТЬИ</a></footer>
        </artticle>
        <artticle class="card">
            <header>
                <h2>Эзотерические учения в средние века</h2>
            </header>
            <p>
                В данной <span>рубрике</span> представлен обзор эзотерических течений и практик,
                активно развивавшихся в средние века, таких как алхимия,
                таинственная каббала, магия и другие формы духовной деятельности.
            </p>
            <footer><a href="">ЧИТАТЬ СТАТЬИ</a></footer>
        </artticle>
        <artticle class="card">
            <header>
                <h2>Ренессанс и эзотерическое мышление</h2>
            </header>
            <p>
                В данной <span>рубрике</span> рассматривается период Возрождения и его влияние
                на эзотерические течения, астрологию, алхимию, а также укрупнение
                интереса к духовным практикам и пониманию магических сил.
            </p>
            <footer><a href="">ЧИТАТЬ СТАТЬИ</a></footer>
        </artticle>
        <artticle class="card">
            <header>
                <h2>Особенности эзотерических течений в XIX веке</h2>
            </header>
            <p>В данной <span>рубрике</span> подробно изучаются ключевые эзотерические направления
                XIX века, включая теософию, спиритизм, антропософию, связь с религиозными
                движениями и новаторские идеи духовных учителей и философов.
            </p>
            <footer><a href="">ЧИТАТЬ СТАТЬИ</a></footer>
        </artticle>
        <artticle class="card">
            <header>
                <h2>Вклад знаменитых мистиков и оккультистов в эзотерику</h2>
            </header>
            <p>
                В данной <span>рубрике</span> рассматривается значимое влияние известных
                мистиков, магов, оккультистов на развитие и формирование эзотерических
                учений и практик.</p>
            <footer><a href="">ЧИТАТЬ СТАТЬИ</a></footer>
        </artticle>
        <artticle class="card">
            <header>
                <h2>Эзотерические движения и школы XX века</h2>
            </header>
            <p>
                В данной <span>рубрике</span> обсуждается появление и развитие знаменитых эзотерических
                движений и школ XX века, анализируются новаторские идеи и концепции
                главных представителей эзотерики.
            </p>
            <footer><a href="">ЧИТАТЬ СТАТЬИ</a></footer>
        </artticle>
        <artticle class="card">
            <header>
                <h2>Современные тенденции в изучении и практике эзотерики</h2>
            </header>
            <p>
                В данной <span>рубрике</span> рассматривается современный подход к изучению и практике
                эзотерических учений, включая новые методики, практики и подходы.
            </p>
            <footer><a href="">ЧИТАТЬ СТАТЬИ</a></footer>
        </artticle>
        <artticle class="card">
            <header>
                <h2>Влияние интернета на распространение эзотерических знаний</h2>
            </header>
            <p>
                В данной <span>рубрике</span> анализируется влияние сферы интернета на распространение
                эзотерических учений, формирование онлайн сообществ и образование сетевых
                эзотерических платформ.
            </p>
            <footer><a href="">ЧИТАТЬ СТАТЬИ</a></footer>
        </artticle>
        <artticle class="card">
            <header>
                <h2>Исследования и перспективы развития истории эзотерики</h2>
            </header>
            <p>
                В данной <span>рубрике</span> представлен обзор современных исследований в области
                истории эзотерики, а также перспективы развития этого направления как
                научной дисциплины.
            </p>
            <footer><a href="">ЧИТАТЬ СТАТЬИ</a></footer>
        </artticle>

    </main>
    <footer class="footer">
        <section class="footer_inner">
            <p class="copyright">
                &copy 2024 Кубекина Е.<br>Все права защищены
            </p>
            <a href="" class="foooter__item_link">Политика конфиденциальности</a>
            <a href="" class="foooter__item_link">Контакты</a>
            <a href="" class="foooter__item_link">Личный кабинет</a>
        </section>
    </footer>
    <script src="script/main.js"></script>
</body>

</html>