<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Эзотерика</title>
</head>

<body class="body">
    <header>
        <a href="/" class="logo">
            <img src="img/logo.svg" alt="Логотип">
        </a>
        <h1 class="header__name">Эзотерика</h1>
    </header>
    <nav class="menu">
        <a href="" class="menu__item-img">
            <img src="img/account.svg" alt="Личный кабинет">
        </a>
        <a id="menu-1" href="" class="menu__item">
            История эзотерики
        </a>
        <a id="menu-2" href="" class="menu__item">
            Эзотерические учения
        </a>
        <a id="menu-3" href="" class="menu__item">
            Тайные знания славян
        </a>
        <a id="menu-4" href="" class="menu__item">
            Практическая эзотерика
        </a>
        <a id="menu-5" href="" class="menu__item">
            Блог
        </a>
        <a id="menu-6" href="" class="menu__item">
            Библиотека
        </a>
        <a id="course" class="menu__item-img" href="">

            Маятник<br>
            вам<br>
            в руки
        </a>
        <section class="menu__footer">
            <a class="menu__item-img" href="">
                <img src="img/vk.svg" alt="ВК">
            </a>
            <a class="menu__item-img" href="">
                <img src="img/telegram.svg" alt="Telegram">
            </a>
            <a class="menu__item-img" href="">
                <img src="img/mail.svg" alt="">
            </a>
        </section>
    </nav>
    <img src="img/up.svg" alt="Кликни" class="up">
    <div class="submenu menu-1">
        <a href="" class="menu__item">
            Зарождение<br>эзотерических учений
        </a>
        <a href="" class="menu__item">
            Влияние античной<br>философии на эзотерику
        </a>
        <a href="" class="menu__item">
            Эзотерические учения<br>в средние века
        </a>
        <a href="" class="menu__item">
            Ренессанс и эзотерическое<br>мышление
        </a>
        <a href="" class="menu__item">
            Особенности эзотерических<br>течений в XIX веке
        </a>
        <a href="" class="menu__item">
            Вклад знаменитых мистиков<br>и оккультистов в эзотерику
        </a>
        <a href="" class="menu__item">
            Эзотерические движения<br>и школы XX века
        </a>
        <a href="" class="menu__item">
            Современные тенденции<br>в изучении и практике<br>эзотерики
        </a>
        <a href="" class="menu__item">
            Влияние интернета<br>на распространение<br>эзотерических знаний
        </a>
        <a href="" class="menu__item">
            Исследования<br>и перспективы развития<br>истории эзотерики
        </a>
    </div>
    <div class="submenu menu-2">
        <a href="" class="menu__item">
            Герметизм
        </a>
        <a href="" class="menu__item">
            Алхимия
        </a>
        <a href="" class="menu__item">
            Гностицизм
        </a>
        <a href="" class="menu__item">
            Каббала
        </a>
        <a href="" class="menu__item">
            Неоплатонизм
        </a>
        <a href="" class="menu__item">
            Таро
        </a>
        <a href="" class="menu__item">
            Астрология
        </a>
        <a href="" class="menu__item">
            Йога
        </a>
        <a href="" class="menu__item">
            Шаманизм
        </a>
        <a href="" class="menu__item">
            Оккультизм
        </a>
    </div>
    <div class="submenu menu-3">
        <a href="" class="menu__item">
            Мифология<br>и сказания славян
        </a>
        <a href="" class="menu__item">
            Ритуалы и обряды<br>в славянской культуре
        </a>
        <a href="" class="menu__item">
            Славянская астрология<br>и космология
        </a>
        <a href="" class="menu__item">
            Травы и лекарственные<br>растения в славянской<br>медицине
        </a>
        <a href="" class="menu__item">
            Символика славянских<br>колдовских знаков<br>и амулетов
        </a>
        <a href="" class="menu__item">
            Поверья<br>и предрассудки<br>в славянской культуре
        </a>
        <a href="" class="menu__item">
            Медитации и практики<br>самопознания<br>в славянской традиции
        </a>
        <a href="" class="menu__item">
            Обучение<br>и исследования<br>славянских тайн
        </a>
        <a href="" class="menu__item">
            Славянская мифология<br>в современном<br>искусстве
        </a>
        <a href="" class="menu__item">
            Тайные общества<br>и братства в славянской<br>культуре
        </a>
    </div>
    <div class="submenu menu-4">
        <a href="" class="menu__item">
            Техники медитации<br>и визуализации
        </a>
        <a href="" class="menu__item">
            Энергетические<br>практики и целительство
        </a>
        <a href="" class="menu__item">
            Практики саморазвития<br>и внутренней<br>трансформации
        </a>
        <a href="" class="menu__item">
            Работа с чакрами<br>и энергетическими<br>центрами
        </a>
        <a href="" class="menu__item">
            Техники астральной<br>проекции и путешествия<br>в мире снов
        </a>
        <a href="" class="menu__item">
            Рабочие инструменты<br>эзотерика
        </a>
        <a href="" class="menu__item">
            Практики энергетической<br>защиты и очищения
        </a>
        <a href="" class="menu__item">
            Техники гипноза<br>и транса
        </a>
        <a href="" class="menu__item">
            Практические инструкции<br>по работе с символикой<br>и мифологией
        </a>
        <a href="" class="menu__item">
            Исследование оккультных<br>наук и практик
        </a>
    </div>
    <div class="submenu menu-5">
        <a href="" class="menu__item">
            Статьи
        </a>
        <a href="" class="menu__item">
            Видео
        </a>
        <a href="" class="menu__item">
            Обучение
        </a>
    </div>
    <div class="submenu menu-6">
        <a href="" class="menu__item">
            Книги
        </a>
        <a href="" class="menu__item">
            Статьи
        </a>
        <a href="" class="menu__item">
            Видео
        </a>
    </div>
    <main class="dash">
        <section class="title">
            <h2 class="name">ЭЗОТЕРИКА</h1>
                <h2 class="comment">теория и практика</h2>
        </section>
        <section class="aside">
            <form class="find" action="" method="get">
                <input type="search" class="find__input" name="find" placeholder="Что ищем?">
                <button type="submit" class="find__button">
                    <img src="img/find.svg" alt="Поиск">
                </button>
            </form>
            <div class="blockquote">
                <blockquote>
                    "Знание эзотерики подобно волшебному ключу,
                    открывающему дверь к глубоким и таинственным аспектам жизни."
                </blockquote>
                <p>Артур Конан Дойл</p>
            </div>
        </section>
    </main>
    <footer>
        <p class="copyright">
            &copy 2024 Кубекина Е.<br>Все права защищены
        </p>
        <a href="" class="foooter__item_link">Политика конфиденциальности</a>
        <a href="" class="foooter__item_link">Контакты</a>
        <a href="" class="foooter__item_link">Личный кабинет</a>
    </footer>
    <script src="script/home.js"></script>
</body>

</html>