<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body {
        height: 100vh;
        overflow: hidden;
    }
    #grid { 
        height: 90%;
        display: grid;
        grid-template-rows: 50% 50%;
   grid-template-columns: 1fr 1fr;
   grid-gap: 10px;
   grid-auto-rows: 60px;
    }
    #grid > div {
        padding: .5em;
        background: gold;
        text-align: center;
    }
    </style>
</head>
<body class="body">
    <div id="grid">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
    </div>
</body>
</html>