<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body class="body">
    <nav class="menu">
        <!-- <div>
            <img src="img/burger.svg" alt="">
            <img src="img/home.svg" alt="">
        </div> -->
        <ul class="menu__list">
            <li class="menu__link-list"><a href="" class="menu__link-pic"><img src="img/account.svg" alt="Home"></a></li>
            <li class="menu__link-list"><a href="../" class="menu__link-pic"><img src="img/home.svg" alt="Home"></a></li>
            <li><a href="" class="menu__link">История эзотерики</a></li>
            <li><a href="" class="menu__link">Эзотерические учения</a></li>
            <li><a href="" class="menu__link">Тайные знания славян</a></li>
            <li><a href="" class="menu__link">Практическая эзотерика</a></li>
            <li><a href="" class="menu__link">Блог</a></li>
            <li><a href="" class="menu__link">Библиотека</a></li>
        </ul>
        
        <!-- <ul>
            <li>История эзотерики</li>
            <li>Эзотерические учения</li>
            <li>Тайные знания славян</li>
            <li>Практическая эзотерика</li>
            <li>Блог</li>
            <li>Библиотека</li>
        </ul> -->
    </nav>
    <main class="dash">
        <h1 class="name">Эзотерика</h1>
        <h2 class="comment">теория и практика</h2>
        <div class="blockquote">
            <blockquote>
                "Знание эзотерики подобно волшебному ключу, 
                открывающему дверь к глубоким и таинственным аспектам жизни."
            </blockquote>
            <p>Артур Конан Дойл</p>
        </div>
        <!-- <ul class="submenu">
            <li>
                <a href="" class="menu__link">
                    Зарождение эзотерических учений
                </a>
            </li>
            <li>
                <a href="" class="menu__link">
                    Влияние античной философии на эзотерику
                </a>
            </li>
            <li>
                <a href="" class="menu__link">
                    Эзотерические учения в средние века
                </a>
            </li>
            <li>
                <a href="" class="menu__link">
                    Ренессанс и эзотерическое мышление
                </a>
            </li>
            <li>
                <a href="" class="menu__link">
                    Особенности эзотерических течений в XIX веке
                </a>
            </li>
            <li>
                <a href="" class="menu__link">
                    Вклад знаменитых мистиков и оккультистов в эзотерику
                </a>
            </li>
            <li>
                <a href="" class="menu__link">
                    Эзотерические движения и школы XX века
                </a>
            </li>
            <li>
                <a href="" class="menu__link">
                    Современные тенденции 
                    в изучении и практике 
                    эзотерики
                </a>
            </li>
            <li>
                <a href="" class="menu__link">
                    Влияние интернета 
                    на распространение 
                    эзотерических знаний
                </a>
            </li>
            <li>
                <a href="" class="menu__link">
                    Исследования 
                    и перспективы развития 
                    истории эзотерики
                </a>
            </li>
        </ul> -->
    </main>
</body>
</html>