<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/home.css">
    <title>Эзотерика</title>
</head>

<body class="body">
    <header>
        <a href="index.html" class="logo">
            <img src="img/logo.svg" alt="Логотип">
        </a>
        <h1 class="header__name">Эзотерика</h1>
    </header>
    <nav class="menu">
        <a href="" class="menu__item-img">
            <img src="img/account.svg" alt="Личный кабинет">
        </a>
        <a id="menu-1" class="menu__item" href="esoterics_history.html">
            История эзотерики
        </a>
        <a id="menu-2" class="menu__item" href="esoteric_teachings.html">
            Эзотерические учения
        </a>
        <a id="menu-3" class="menu__item" href="slavs_secret_knowledge.html">
            Тайные знания славян
        </a>
        <a id="menu-4" class="menu__item" href="practical_esoterics.html">
            Практическая эзотерика
        </a>
        <a id="menu-5" class="menu__item" href="blog.html">
            Блог
        </a>
        <a id="menu-6" class="menu__item" href="library.html">
            Библиотека
        </a>
        <a id="course" class="menu__item-img" href="">

            Маятник<br>
            вам<br>
            в руки
        </a>
        <section class="menu__footer">
            <a class="menu__item-img" href="">
                <img src="img/vk.svg" alt="ВК">
            </a>
            <a class="menu__item-img" href="">
                <img src="img/telegram.svg" alt="Telegram">
            </a>
            <a class="menu__item-img" href="">
                <img src="img/mail.svg" alt="">
            </a>
        </section>
    </nav>
    <img src="img/up.svg" alt="Кликни" class="up">
    <div class="submenu menu-1">
        <a href="esoterics_history-1.html" class="menu__item">
            Зарождение эзотерических учений
        </a>
        <a href="esoterics_history-2.html" class="menu__item">
            Влияние античной философии на эзотерику
        </a>
        <a href="esoterics_history-3.html" class="menu__item">
            Эзотерические учения в средние века
        </a>
        <a href="esoterics_history-4.html" class="menu__item">
            Ренессанс и эзотерическое мышление
        </a>
        <a href="esoterics_history-5.html" class="menu__item">
            Особенности эзотерических течений в XIX веке
        </a>
        <a href="esoterics_history-6.html" class="menu__item">
            Вклад знаменитых мистиков и оккультистов в эзотерику
        </a>
        <a href="esoterics_history-7.html" class="menu__item">
            Эзотерические движения и школы XX века
        </a>
        <a href="esoterics_history-8.html" class="menu__item">
            Современные тенденции в изучении и практике эзотерики
        </a>
        <a href="esoterics_history-9.html" class="menu__item">
            Влияние интернета на распространение эзотерических знаний
        </a>
        <a href="esoterics_history-10.html" class="menu__item">
            Исследования и перспективы развития истории эзотерики
        </a>
    </div>
    <div class="submenu menu-2">
        <a href="esoteric_teachings-1.html" class="menu__item">
            Герметизм
        </a>
        <a href="esoteric_teachings-2.html" class="menu__item">
            Алхимия
        </a>
        <a href="esoteric_teachings-3.html" class="menu__item">
            Гностицизм
        </a>
        <a href="esoteric_teachings-4.html" class="menu__item">
            Каббала
        </a>
        <a href="esoteric_teachings-5.html" class="menu__item">
            Неоплатонизм
        </a>
        <a href="esoteric_teachings-6.html" class="menu__item">
            Таро
        </a>
        <a href="esoteric_teachings-7.html" class="menu__item">
            Астрология
        </a>
        <a href="esoteric_teachings-8.html" class="menu__item">
            Йога
        </a>
        <a href="esoteric_teachings-9.html" class="menu__item">
            Шаманизм
        </a>
        <a href="esoteric_teachings-10.html" class="menu__item">
            Оккультизм
        </a>
    </div>
    <div class="submenu menu-3">
        <a href="slavs_secret_knowledge-1.html" class="menu__item">
            Мифология и сказания славян
        </a>
        <a href="slavs_secret_knowledge-2.html" class="menu__item">
            Ритуалы и обряды в славянской культуре
        </a>
        <a href="slavs_secret_knowledge-3.html" class="menu__item">
            Славянская астрология и космология
        </a>
        <a href="slavs_secret_knowledge-4.html" class="menu__item">
            Травы и лекарственные растения в славянской медицине
        </a>
        <a href="slavs_secret_knowledge-5.html" class="menu__item">
            Символика славянских колдовских знаков и амулетов
        </a>
        <a href="slavs_secret_knowledge-6.html" class="menu__item">
            Поверья и предрассудки в славянской культуре
        </a>
        <a href="slavs_secret_knowledge-7.html" class="menu__item">
            Медитации и практики самопознания в славянской традиции
        </a>
        <a href="slavs_secret_knowledge-8.html" class="menu__item">
            Обучение и исследования славянских тайн
        </a>
        <a href="slavs_secret_knowledge-9.html" class="menu__item">
            Славянская мифология в современном искусстве
        </a>
        <a href="slavs_secret_knowledge-10.html" class="menu__item">
            Тайные общества и братства в славянской культуре
        </a>
    </div>
    <div class="submenu menu-4">
        <a href="practical_esoterics-1.html" class="menu__item">
            Техники медитации и визуализации
        </a>
        <a href="practical_esoterics-2.html" class="menu__item">
            Энергетические практики и целительство
        </a>
        <a href="practical_esoterics-3.html" class="menu__item">
            Практики саморазвития и внутренней трансформации
        </a>
        <a href="practical_esoterics-4.html" class="menu__item">
            Работа с чакрами и энергетическими центрами
        </a>
        <a href="practical_esoterics-5.html" class="menu__item">
            Техники астральной проекции и путешествия в мире снов
        </a>
        <a href="practical_esoterics-6.html" class="menu__item">
            Рабочие инструменты эзотерика
        </a>
        <a href="practical_esoterics-7.html" class="menu__item">
            Практики энергетической защиты и очищения
        </a>
        <a href="practical_esoterics-8.html" class="menu__item">
            Техники гипноза и транса
        </a>
        <a href="practical_esoterics-9.html" class="menu__item">
            Практические инструкции по работе с символикой и мифологией
        </a>
        <a href="practical_esoterics-10.html" class="menu__item">
            Исследование оккультных наук и практик
        </a>
    </div>
    <div class="submenu menu-5">
        <a href="blog-1.html" class="menu__item">
            Статьи
        </a>
        <a href="blog-2.html" class="menu__item">
            Видео
        </a>
        <a href="blog-3.html" class="menu__item">
            Обучение
        </a>
    </div>
    <div class="submenu menu-6">
        <a href="library-1.html" class="menu__item">
            Книги
        </a>
        <a href="library-2.html" class="menu__item">
            Публикации
        </a>
        <a href="library-3.html" class="menu__item">
            Фильмы
        </a>
    </div>
    <main class="dash">
        <section class="title">
            <h2 class="name">ЭЗОТЕРИКА</h1>
                <h2 class="comment">теория и практика</h2>
        </section>
        <section class="aside">
            <form class="find" action="" method="get">
                <input type="search" class="find__input" name="find" placeholder="Что ищем?">
                <button type="submit" class="find__button">
                    <img src="img/find.svg" alt="Поиск">
                </button>
            </form>
            <div class="blockquote">
                <blockquote>
                    "Знание эзотерики подобно волшебному ключу,
                    открывающему дверь к глубоким и таинственным аспектам жизни."
                </blockquote>
                <p>Артур Конан Дойл</p>
            </div>
        </section>
    </main>
    <footer>
        <p class="copyright">
            &copy 2024 Кубекина Е.<br>Все права защищены
        </p>
        <a href="" class="foooter__item_link">Политика конфиденциальности</a>
        <a href="" class="foooter__item_link">Контакты</a>
        <a href="" class="foooter__item_link">Личный кабинет</a>
    </footer>
    <script src="script/home.js"></script>
</body>

</html>