html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

@font-face {
    font-family: Montserrat;
    /* font-stretch: PERCENTAGE_RANGE_LOW_TO_HIGH; Note that font-stretch is a % of normal width */
    font-style: normal;
    font-weight: 100 900;
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
  }

body {
    font-size: 14px;
    font-family: Montserrat, Helvetica, sans-serif;
}

/* img {
    min-width: 100%;
} */

a {
    text-decoration: none;
}