{% load static %}


<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'img/logo.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% block css %}
                                    {% static 'css/style.css' %}
                                  {% endblock css%}">
    <title>{{ title }}</title>
</head>

<body class="body">
    <header class="header">
        {% block header %}
            <section></section>
            {% block h1 %}
                <h1 class="header__name">{{ title }}</h1>
            {% endblock h1 %}
            {% block form %}
                <form class="find" action="" method="get">
                    <input type="search" class="find__input" name="find" placeholder="Что ищем?">
                    <button type="submit" class="find__button">
                        <img src="{% static 'img/find.svg' %}" alt="Поиск">
                    </button>
                </form>
            {% endblock form %}
        {% endblock header%}
    </header>
    <nav class="menu">
        {% block menu %}
            {% block logo %}
                <a href="{% url  'home' %}" class="logo">
                    <img src="{% static 'img/logo.svg' %}" alt="Логотип">
                </a>
            {% endblock logo%}
            {% block account %}
                <a href="" class="menu__item-img">
                    <img src="{% static 'img/account.svg' %}" alt="Личный кабинет">
                </a>
            {% endblock account%}
            <section class="items">
                {% block items %}
                    {% for item in menu_items %}
                        <a id="menu-{{item.pk}}" class="menu__item" href="{% url 'menu' item.slug %}">
                            {{item.name}}
                        </a>
                    {% endfor %}
                {% endblock items%}
            </section>
            {% block menu_footer %}
                <a id="course" class="menu__item-img" href="">
                    Маятник<br>
                    вам<br>
                    в руки
                </a>
                <footer class="menu__footer">
                    <a class="menu__item-img" href="">
                        <img src="{% static 'img/vk.svg' %}" alt="ВК">
                    </a>
                    <a class="menu__item-img" href="">
                        <img src="{% static 'img/telegram.svg' %}" alt="Telegram">
                    </a>
                    <a class="menu__item-img" href="">
                        <img src="{% static 'img/mail.svg' %}" alt="">
                    </a>
                </footer>
            {% endblock menu_footer %}
            {% block submenu %}
                {% for item in menu_items %}
                    <div class="submenu menu-{{item.pk}}">
                    {% for sitem in item.submenu_set.all %}
                        <a href="{% url 'submenu' item.slug sitem.slug %}" class="menu__item">
                            {{sitem.name}}
                        </a>
                    {% endfor %}
                    </div>
                {% endfor %}
            {% endblock submenu%}
        {% endblock menu%}
    </nav>
    {% block up %}
        <img src="{% static 'img/up.svg' %}" alt="Кликни" class="up">
    {% endblock up%}
    <main class="main dash">
        {% block main %}
            
        {% endblock main%}
    </main>
    {% block footer %}
        <footer class="footer">
            <section class="footer_inner">
            {% block footer_inner %}
                <p class="copyright">
                    &copy 2024 Кубекина Е.<br>Все права защищены
                </p>
                <a href="" class="foooter__item_link">Политика конфиденциальности</a>
                <a href="" class="foooter__item_link">Контакты</a>
                <a href="" class="foooter__item_link">Личный кабинет</a>
            {% endblock footer_inner%}
            </section>
        </footer>
    {% endblock footer %}
    <script src="{% block script %}
                    {% static 'script/main.js' %}
                  {% endblock script %}"></script>
</body>

</html>