{% extends 'articles/base.html' %}
{% load static %}

{% block css %} {% static 'css/home.css' %} {% endblock css %}

    {% block header %}
        {% block logo %}{{ block.super }} {% endblock logo %}
        {% block h1 %}{{ block.super }} {% endblock h1 %}
    {% endblock header%}
    {% block menu %}
            {% block account %}{{ block.super }}{% endblock account %}
            {% block items %}{{ block.super }}{% endblock items %}
            {% block menu_footer %}{{ block.super }}{% endblock menu_footer %}
            {% block submenu %}{{ block.super }}{% endblock submenu %}
    {% endblock menu%}
    {% block up %}{{ block.super }}{% endblock up %}
    {% block main %}
        <section class="title">
            <h2 class="name">{{ title | upper }}</h1>
                <h2 class="comment">теория и практика</h2>
        </section>
        <section class="aside">
            <form class="find" action="" method="get">
                <input type="search" class="find__input" name="find" placeholder="Что ищем?">
                <button type="submit" class="find__button">
                    <img src="{% static 'img/find.svg' %}" alt="Поиск">
                </button>
            </form>
            <div class="blockquote">
                <blockquote>
                    "Знание эзотерики подобно волшебному ключу,
                    открывающему дверь к глубоким и таинственным аспектам жизни."
                </blockquote>
                <p>Артур Конан Дойл</p>
            </div>
        </section>
    {% endblock main%}
    {% block footer %}
        <footer class="footer">
            {% block footer_inner %}{{block.super}}{% endblock footer_inner %}
        </footer>
    {% endblock footer %}
    {% block script %}{% static 'script/home.js' %}{% endblock script %}
