{% extends 'articles/base.html' %}

{% load static %}

{% block main %}
    
    {% for topic in topics  %}
        <artticle class="card">
            <header>
                <h2>{{topic.name}}</h2>
            </header>
            <p> 
                {{topic.description}}
            </p>
            <footer>
                <a href="{{topic.get_absolute_url}}">ЧИТАТЬ</a>
                {% comment %} {% url 'submenu' slug topic.slug %} {% endcomment %}
            </footer>
        </artticle>
    {% endfor %}
        
{% endblock main %}