{% extends 'articles/base.html' %}

{% load static %}


{% block style %}
    <style>
        :root {
            --bg-image-header: {{colors.bg_header}}; 
            --bg-image-main : {{colors.bg_main}}; 
            --bg-image-footer : {{colors.bg_footer}}; 
            --base-color: {{colors.base_color}}; 
            --card-bg-color: {{colors.bg_color}}; 
          }
    </style>
{% endblock style %}

{% block main %}
    <main class="main">
        {% for topic in topics  %}
            <article class="card">
                <header>
                    <h2>{{topic.name}}</h2>
                </header>
                <p> 
                    {{topic.description}}
                </p>
                <footer>
                    <a href="{{topic.get_absolute_url}}">ЧИТАТЬ</a>
                </footer>
            </article>
        {% endfor %}
    </main>    
{% endblock main %}